@font-face
{
   font-family: "TT Norms Bold";
   src: url('../font/TTNorms-Bold.woff') format('woff'),
        url('../font/TTNorms-Bold.ttf') format('truetype'),
        url('../font/TTNorms-Bold.svg#TTNorms-Bold') format('svg'),
        url('../font/TTNorms-Bold.eot') format('embedded-opentype');
}
@font-face
{
   font-family: "TT Norms Regular";
   src: url('../font/TTNorms-Regular.woff') format('woff'),
        url('../font/TTNorms-Regular.ttf') format('truetype'),
        url('../font/TTNorms-Regular.svg#TTNorms-Regular') format('svg'),
        url('../font/TTNorms-Regular.eot') format('embedded-opentype');
}
@-webkit-keyframes heartbeat-1
{
   0% { -webkit-transform: rotate(0deg) ;  }
   15% { -webkit-transform: rotate(0deg) scale(1.2,1.2) ;  }
   25% { -webkit-transform: rotate(0deg) scale(1.1,1.1) ;  }
   35% { -webkit-transform: rotate(0deg) scale(1.2,1.2) ;  }
   100% { -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes heartbeat-1
{
   0% { -moz-transform: rotate(0deg) ;  }
   15% { -moz-transform: rotate(0deg) scale(1.2,1.2) ;  }
   25% { -moz-transform: rotate(0deg) scale(1.1,1.1) ;  }
   35% { -moz-transform: rotate(0deg) scale(1.2,1.2) ;  }
   100% { -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-o-keyframes heartbeat-1
{
   0% { -o-transform: rotate(0deg) ;  }
   15% { -o-transform: rotate(0deg) scale(1.2,1.2) ;  }
   25% { -o-transform: rotate(0deg) scale(1.1,1.1) ;  }
   35% { -o-transform: rotate(0deg) scale(1.2,1.2) ;  }
   100% { -o-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-ms-keyframes heartbeat-1
{
   0% { -ms-transform: rotate(0deg) ;  }
   15% { -ms-transform: rotate(0deg) scale(1.2,1.2) ;  }
   25% { -ms-transform: rotate(0deg) scale(1.1,1.1) ;  }
   35% { -ms-transform: rotate(0deg) scale(1.2,1.2) ;  }
   100% { -ms-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes heartbeat-1
{
   0% { transform: rotate(0deg) ;  }
   15% { transform: rotate(0deg) scale(1.2,1.2) ;  }
   25% { transform: rotate(0deg) scale(1.1,1.1) ;  }
   35% { transform: rotate(0deg) scale(1.2,1.2) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-webkit-keyframes transform-rotate
{
   0% { -webkit-transform: rotate(0deg) ;  }
   100% { -webkit-transform: rotate(359deg) ;  }
}
@-moz-keyframes transform-rotate
{
   0% { -moz-transform: rotate(0deg) ;  }
   100% { -moz-transform: rotate(359deg) ;  }
}
@-o-keyframes transform-rotate
{
   0% { -o-transform: rotate(0deg) ;  }
   100% { -o-transform: rotate(359deg) ;  }
}
@-ms-keyframes transform-rotate
{
   0% { -ms-transform: rotate(0deg) ;  }
   100% { -ms-transform: rotate(359deg) ;  }
}
@keyframes transform-rotate
{
   0% { transform: rotate(0deg) ;  }
   100% { transform: rotate(359deg) ;  }
}
@-webkit-keyframes transform-shiver-Y
{
   0% { -webkit-transform: rotate(0deg) ;  }
   25% { -webkit-transform: translate(0px,-10px) rotate(0deg) ;  }
   75% { -webkit-transform: translate(0px,10px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-shiver-Y
{
   0% { -moz-transform: rotate(0deg) ;  }
   25% { -moz-transform: translate(0px,-10px) rotate(0deg) ;  }
   75% { -moz-transform: translate(0px,10px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-o-keyframes transform-shiver-Y
{
   0% { -o-transform: rotate(0deg) ;  }
   25% { -o-transform: translate(0px,-10px) rotate(0deg) ;  }
   75% { -o-transform: translate(0px,10px) rotate(0deg) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-ms-keyframes transform-shiver-Y
{
   0% { -ms-transform: rotate(0deg) ;  }
   25% { -ms-transform: translate(0px,-10px) rotate(0deg) ;  }
   75% { -ms-transform: translate(0px,10px) rotate(0deg) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-shiver-Y
{
   0% { transform: rotate(0deg) ;  }
   25% { transform: translate(0px,-10px) rotate(0deg) ;  }
   75% { transform: translate(0px,10px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
